#headimage{
    max-width: 350px;
    width: 200%;
    padding: 0.5em;
    border-radius: 8px;
    border: 10px ridge green ;
    float: left;

}

header h2{
    font-size: 350%;
    padding: 1.25em;
    text-align: center;
    color: white;
    animation: myanimation 10s infinite;
}

@keyframes myanimation {
    0% {background-color: red;}
    50%{background-color:green;}
    75%{background-color:brown;}
    100% {background-color: red;}
  }

#gifimage{
    float: right;
    max-width: 265px;
    width: 200%;
    padding: 0.5em;
    border-radius: 8px;
    border: 10px ridge green ;
}

.btn {
    display: inline-block;
    padding: .7em 1.7em;
    background: rgb(82, 250, 82);
    color: black;
    font-weight: 600;
    text-decoration: none;
    
    
  }
  
  .hero {
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .hero h1{
      font-weight: bold;
      animation-duration: 3s;
      animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 80%;
      width: 100%;
    }
  }

  .hero p{
      font-size: 200%;
      color: rosybrown;
      animation: tilt-shaking 2.5s infinite;
  }

  @keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
  
  .sales-points {
      color: white;
    padding: 8vh 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  
  .sales-point {
    flex-basis: 30%;
}

.sales-point h2{
    font-weight: bold;
    font-size: 250%;
    border: 5px solid green;
    border-radius: 5px;
    margin-bottom: 2em;
    color: yellowgreen;
}
.sales-points p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    color: yellow;
}
  .cta {
    padding: 10vh 0;
    color: white;
    display: flex;
    justify-content: flex-end;
  }
  
  .cta-text {
    padding: 0 2em;
    flex-basis: 50%;
  
  }
  